[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
amqp = "==2.4.2"
billiard = "==3.6.0.0"
celery = "==4.3.0"
django-crispy-forms = "==1.7.2"
django-timezone-field = "==3.0"
kombu = "==4.5.0"
mysqlclient = "==1.3.13"
python-crontab = "==2.3.6"
python-dateutil = "==2.8.0"
pytz = "==2018.5"
six = "==1.12.0"
vine = "==1.3.0"
Django = "*"
django_celery_beat = "==1.4.0"
Pillow = "*"
django-filters = "*"
djangorestframework = "*"

[requires]
python_version = "3.6"
