{% extends 'generic/base.html' %}

{% block content %}
    <div class="content-section">
    	<p class="p3">Payment Information</p>
	    <table class="table">
		  	<thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Farmer</th>
			      <th scope="col">Date</th>
			      <th scope="col">Size(kgs)</th>
			      <th scope="col">Payment Date</th>
			    </tr>
		  	</thead>
		  	<tbody>
		  		{% for transaction in transactions %}
				    <tr>
				      <th scope="row">{{ transaction.id }}</th>
				      <td>{{ transaction.farmer }}</td>
				      <td>{{ transaction.center }}</td>
				      <td>{{ transaction.kilos }} </td>
				      <td>{{ transaction.date_posted }}</td>
				    </tr>
			    {% endfor %}
		  	</tbody>
		</table>
    </div>
{% endblock content %}
