
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example from PureCSS.io that shows off a responsive product landing page.">

    <title> 399 Landing Page | Winter '14</title>

<link rel="stylesheet" href="https://yui.yahooapis.com/pure/0.4.2/pure-min.css">
    

</head>
<body>

<header>
  <div class='container'>
    <h3>TravelNow</h3>
    <button id='menu-toggle'>
      <i class='material-icons'>menu</i>
    </button>
    <nav id='nav'>
      <a href='#'>Home</a>
      <a href='#'>Sign Up</a>
      <a href='#'>About</a>
      <a href='#'>Privacy</a>
    </nav>
  </div>
</header>
<main>
  <div class='hero'>
    <div class='text'>
      <h1>Travel Your Way. Today</h1>
      <p>
      Same day tickets for your travel needs.<br />Save on Amtrak, Greyhound, MegaBus, and many airlines
      </p>
      <a href='#' class='btn'>Sign Up Now!</a>
    </div>
  </div>
  <div class='grid'>
    <div class='col-3'>
      <div class='panel'>
        <div class='head'>
          <i class='material-icons'>
            alarm_on
          </i>
          <h3>Quick</h3>
        </div>
        <div class='body'>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </p>
        </div>
      </div>
    </div>
    <div class='col-3'>
      <div class='panel'>
        <div class='head'>
          <i class='material-icons'>
            mood
          </i>
          <h3>Easy</h3>
        </div>
        <div class='body'>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </p>
        </div>
      </div>
    </div>
    <div class='col-3'>
      <div class='panel'>
        <div class='head'>
          <i class='material-icons'>
            security
          </i>
          <h3>Secure</h3>
        </div>
        <div class='body'>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class='container'>
    <div class='item'>
      <p>
        <a href='#'>Your Privacy</a>
        <a href='#'>Careers</a>
        <a href='#'>Contact Us</a>
      </p>
    </div>
    <div class='item'>
      <p>
        <a href='#'><i class='socicon-facebook'></i></a>
        <a href='#'><i class='socicon-twitter'></i></a>
        <a href='#'><i class='socicon-instagram'></i></a>
        <a href='#'><i class='socicon-mail'></i></a>
    </div>
  </div>
</footer>

</body>
</html>
