{% extends "generic/base.html" %}
{% load static %}

{% block content %}
  <div id="home">
    <div class="landing-text">
      <h1>MAJANI</h1>
      <h3>Farmers Tea Management System.</h3>
      <a href="#" class="btn btn-default btn-lg">Get Started</a>
    </div>
  </div>

  <div class="padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="{% static 'img/farming.jpg' %}">
        </div>
        <div class="col-sm-6 text-center">
          <h2>All About Majani</h2>
          <p class="lead">Majani is an online Farmers Tea Management System. The farmers are able
          to view their daily transactions which include the date, size of kilos, and their center.
          The farmers are able to view their to view their expected monthly and annual pay.
          The admin in a particular center is responsible for feeding the system with the weight of
          tea whenever the farmer visits the center with tea.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <h4>Global Tea Prices Expected to Rise</h4>
          <p>In a recent post on Twitter, Senior Counsel Paul Muite observed that tea was the number two foreign exchange earner for Kenya in 2017 with diaspora remittances taking the top position. However, Mr Muite wondered if the government cared much about small-scale tea farmers. “Are farmers getting a fair return, and if not, why not,” he posed.
            Mr. Muite’s concerns are not new. They have been on the lips and minds of many people for many years now. No doubt, the concerns are weighty and should form part of our national debate.
            First, this is a top foreign exchange earner, bringing in billions worth of foreign currency every year.</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img src="{% static 'img/farmer2.png' %}" class="img-responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <h4>Problem Facing Farmers in Kenya</h4>
          <p>Some seasons in the year make the prevalence of diseases to be more popular 
          and make the Kenyan farmers to suffer huge loses. The crops continually gets attacks 
          from pests and makes the farmer go huge waste as they attack some parts of whole of the
           crop making it hard to survive and thrive well. Furthermore, it infects the crops with 
           diseases that completely kill and destroy it. Pest and diseases are 
          very dangerous to crops more especially when they attack crops in large scale basis. </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img src="{% static 'img/farmer3.jpg' %}" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <div id="fixed">
  </div>

  <div class="padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 text-center">
          <h2>Competition from Established Market</h2>
          <p class="lead">Kenyan farmers get a lot of competition from 
          farmers that are well established making it hard for them to 
          venture into the export market and eventually ending up selling 
          the crops to local industries at a loss. The government should 
          try to look for ways of managing 
          the tough competition from the outside market to ensure that 
          people are secure and safe with farming tea.</p>
        </div>
        <div class="col-sm-6">
          <img src="{% static 'img/farmer1.jpg' %}">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
