{% extends "generic/base.html" %}
{% load static %}

{% block content %}
  <div id="home">
    <div class="landing-text">
      <h1>MAJANI</h1>
      <h3>Learn the basic building blocks.</h3>
      <a href="#" class="btn btn-default btn-lg">Get Started</a>
    </div>
  </div>

  <div class="padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="{% static 'img/farming.jpg' %}">
        </div>
        <div class="col-sm-6 text-center">
          <h2>All About Using Bootstrap</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
             Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
              dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
              non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <h4>Built With Sass</h4>
          <p>Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img src="{% static 'img/farmer2.png' %}" class="img-responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <h4>And Less</h4>
          <p>Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img src="{% static 'img/farmer3.jpg' %}" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <div id="fixed">
  </div>

  <div class="padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 text-center">
          <h2>All About Using Bootstrap</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
             Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
              dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
              non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum. </p>
        </div>
        <div class="col-sm-6">
          <img src="{% static 'img/farmer1.jpg' %}">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
